.style1
{
color : red;
font-weight:bold;
font-family: monospace;
}

.styleback
{
background-color: white;
color:blue;
font-weight:bold;
font-family: monospace;
}

.tableau
{
background-color: blue;
color: white;
font-size: xx-large;
}



.header1  
{
height: 100px;
margin: 0;
background : blue; 
}

.tabperso
{
color: violet;
background-color: whitesmoke;
}

.contab
{
    color: black;
    border-left: 0cm;
    border-top: 0cm;
    border-bottom: 0cm;
    border-right: 0cm;
}

.tabrien{
    border-left: 0cm;
    border-top: 0cm;
    border-bottom: 0cm;
    border-right: 0cm;
}