.style1
{
color : red;
font-weight:bold;
font-family: monospace;
}

.styleback
{
background-color: black;
}

.tableau
{
background-color: red;
color: black;
font-size: xx-large;
}

.header {
height: 300px;
margin: 0;
background : url('bandeau\ acceuil.jpg') repeat-x;
}

.header1  
{
height: 150px;
margin: 0;
background : red; 
}

.tabperso
{
color: violet;
}